@import '../../scss/variables.scss';

.main {
  padding-top: 100px;
  padding-left: 350px;
  width: 100vw;
  height: 100vh;
}

.title:hover {
  color: $white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title:hover {
    color: $white;
  }

  .rightColumn {
    display: flex;

    .item {
      display: flex;
      margin-left: 30px;
      .itemIcon {
        font-size: 2rem;
        margin-right: 6px;
      }
      .itemTitle {
        padding-top: 10px;
      }
    }
  }
}
