@import '../../../../../scss/variables.scss';

.searchWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  width: 90%;
  .input {
    border: 2px solid $border-color;
    width: 92%;
  }
  .searchButton {
    background-color: $blue;
  }
}
