@import '../../scss/variables.scss';


.sidebar {
  position: fixed;
  top: $headerHeight;
  padding-left: 20px;
  padding-right: 20px;
  height: calc(100vh - $headerHeight);
  background-color: $lightColor;
  color: black;
  font-size: 20px;
  border-right: $lightColor solid 1px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: $sidebarWidth;
  .item {
    padding: 10px 0;
    cursor: pointer;
    &:hover {
      background-color: $secondaryColor;
    }
  }
}
