{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "unused-imports", "react-hooks", "prettier"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "no-undef": "off",
    "array-callback-return": "error",
    "no-else-return": ["error", { "allowElseIf": false }],
    "no-return-assign": ["error", "always"],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "camelcase": ["error", { "allow": ["^UNSAFE_"] }],
    "eqeqeq": "error",
    "no-multi-spaces": "error",
    "no-return-await": "error",
    "no-self-compare": "error",
    "no-throw-literal": "error",
    "no-useless-return": "error",
    "max-lines": ["error", 250],

    "prettier/prettier": [
      "warn",
      {
        "arrowParens": "always",
        "semi": false,
        "endOfLine": "lf",
        "tabWidth": 2,
        "useTabs": false,
        "printWidth": 120,
        "singleQuote": true,
        "trailingComma": "none",
        "bracketSpacing": true,
        "jsxBracketSameLine": false
      }
    ],
    "no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ]
  }
}
