@import '../../../../../scss/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  height: 100%;
  width: 100%;

  .header {
    margin-bottom: 20px;
  }

  .boardContainer {
    border: 2px solid $border-color;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    width: 90%;
    height: 95%;
    .tabContainer {
      display: flex;
      justify-content: space-between;
      .periodDropdown {
        display: flex;
        justify-content: flex-end;
      }
    }

    .loadingContainer {
      padding: 30px;
    }

    .graphContainer {
      width: 100%;
      height: 95%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
