@import '../../../../../scss/variables.scss';

.buttonsGroup {
  margin-top: 80px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: end;

  .startButton {
    background-color: $green;
  }
  .stopButton {
    background-color: $yellow;
    margin-left: 5px;
  }
  .removeButton {
    background-color: $red;
    margin-left: 5px;

  }

}