@import '../../../../../scss/variables.scss';

.buttonsGroup {

  .startButton {
    background-color: $green;
  }

  .stopButton {
    background-color: $yellow;
    margin-left: 5px;
  }

  .removeButton {
    background-color: $red;
    margin-left: 5px;
  }
}