@import '../../../scss/variables.scss';

.sidebar {
  position: fixed;
  top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  height: calc(100vh - 100px);
  background-color: $light-white;
  font-size: 20px;
  border-right: $light-white solid 1px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 350px;
}
